html{
  min-height: 100%;
  position:relative;
}

/* * * * * Header * * * * */
header{
  background: #3A3232;
  width: 100%;
  top: 0px;
  position: fixed;
}

header div.container{
  max-width: 960px;
  margin: 0px auto;
}

.pagename{
  float: left;
  font-family: 'Lucida Sans';
  color: #DADADA;
  font-size: 10px;
}

nav{
  float: right;
}

nav li{
  padding-top: 0px;
  margin-left: 25px;
  float:left;
}

nav ul{
  list-style: none;
}

header a{
  text-decoration: none;
  color: white;
}

header a:hover{
  color: #000000;
  font-size: 100%;
  text-shadow: 2px 2px #828282;
}

.subcategory{
  color:#FFFFFF;
}

/* * * * * Body * * * **/
body{
  width: 100%;
  height:100%;
  margin: auto;
  background-image: url("../images/other/background.jpg");
  background-color:#A4A4A4;
  background-repeat: repeat;
  padding-bottom:60px; /* height of the footer */
}

main{
  padding-top: 80px;
  max-width: 860px;
  margin: 0px auto;
}

h2{
  text-align: center;
}

article{
  font-family: 'Time';
  padding:5px;
  border: 2px solid #000000;
  margin-bottom: 10px;
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.65), 0 10px 24px 0 rgba(0, 0, 0, 0.25);
  overflow:hidden;
  background: white;
}

.centered_article{
  text-align: center;
}

.centered_article li{
  list-style-position:inside;
}

article h2{
  border-bottom:2px solid rgba(40, 40, 40, 0.81);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.65), 0 10px 24px 0 rgba(0, 0, 0, 0.25);
}


img.border{
  border: 5px solid black;
}

.post_info{
  text-align: right;
  font-style: italic;
  font-size: 13px;
}

/* Polaroid photos */
#polaroidphotos{
  width:100%;
  /*padding-left:100px;*/
  margin:auto;

}

div.polaroid {
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.55), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.polaroid div.container {
  text-align: center;
}

#item1, #item2{
  float: left;
  margin: 5px;
  padding: 5px;
}

/*Portofolio (photography and digital)*/
figure.portofolio{
  margin:10px;
  border: 1px solid #000000;
  float: left;
  width: 180px;
}

figure.portofolio:hover{
  border: 1px solid #484848;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.64), 0 6px 20px 0 rgba(0, 0, 0, 0.27);
}


figure.portofolio img{
  width:100%;
  height: auto;
}

figure.portofolio figcaption{
  padding:15px;
  text-align:center;
}

/*Contact*/
#contactme, #how_contactme{
  width:400px;
  margin: auto; /* in order to center things */
}

#contactme label, #how_contactme label{
  font-weight: bold;
}

fieldset#contactme input, fieldset#contactme textarea{
  width: 100%;
  margin: auto;
}

div.button{
  width: 100%;
  text-align: center;
}



/* * * * * Footer* * * * */
footer{
  position: absolute;
  bottom:0;
  clear: both;
  background:rgba(57, 55, 55, 0.40);
  color:white;
  width:100%;
  height:60px;
  text-align: right;
}

